<div class="example-container mat-elevation-z8">
  <h2>Adicionar Pedido</h2>
  <div class="example-loading-shade"
        *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/']"><mat-icon>list</mat-icon></a>
  </div>
  <mat-card class="example-card">
    <form [formGroup]="pedidosForm" (ngSubmit)="onFormSubmit()">
      <mat-form-field class="example-full-width">
        <mat-label>COD</mat-label>
        <input matInput placeholder="COD" formControlName="itemId"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!pedidosForm.get('itemId').valid && pedidosForm.get('itemId').touched">Por favor digite o código</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Nome do Cliente</mat-label>
        <input matInput placeholder="Nome do Cliente" formControlName="itemName"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!pedidosForm.get('itemName').valid && pedidosForm.get('itemName').touched">Nome</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Preço</mat-label>
        <input matInput type="number" placeholder="Item Preço" formControlName="itemPrice"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!pedidosForm.get('itemPrice').valid && pedidosForm.get('itemPrice').touched">Por favor digite o preço do item</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Quantidade</mat-label>
        <input (change)="updateTotalPrice()" matInput type="number" placeholder="Quantidade" formControlName="itemQty"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!pedidosForm.get('itemQty').valid && pedidosForm.get('itemQty').touched">Por favor digite a quantidade</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Preço total</mat-label>
        <input matInput type="number" placeholder="Preço total" formControlName="totalPrice"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!pedidosForm.get('totalPrice').valid && pedidosForm.get('totalPrice').touched">Por favor digite o preço total</span>
        </mat-error>
      </mat-form-field>
      <div class="button-row">
        <button type="submit" [disabled]="!pedidosForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
      </div>
    </form>
  </mat-card>
</div>
